.card {
  color: black;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 0 10px rgb(167, 167, 167);
  padding: 5px;
}

.card img {
  height: 300px;
}

.card:hover {
  box-shadow: 0 0 15px rgb(157, 157, 157);
}
