.footer {
  background-color: rgb(44, 44, 44);
  padding: 15px;
  padding: 4vh 5vw;
}

.rows {
  color: white;
  display: flex;
  justify-content: space-between;
}

.flex-column p {
  color: white;
}

.footer-link p {
  color: white;
}

.copyrights p {
  color: rgb(182, 182, 182);
  margin: 0;
}
